@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Philosopher', sans-serif; */

/* root variables */
:root {

  /* logo colors */
  --dark_black:#050608;
  --dark_blue:#133747;
  --blue:#517dbe;
  --red_color:#d7262e;
  --green-color: #36b54a;
  --orange-color: #f6821f;
  --yellow-color: #f1bd19;

  --light-grey: #f4f5f7;
  --light-blue: #f6fafe;
  --dark-grey: #777777;
  --dark-black: #2d2c41;
  --bg_navy_blue: #132541;
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Philosopher', sans-serif;
  --primary-font-size: 14px;

  /* secondary colors */
  --black-color: #000000;
  --white-color: #ffffff;
  --black-grey: #565656;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px !important;
  line-height: 1.5;
  font-weight: 400;
  background: #fff;
}

body a {
  text-decoration: none;
  color: #517dbe;
  font-family: 'Montserrat', sans-serif;
}

body a:hover {
  color: #133747;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #050608;
}

p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #707070;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 1.5;
}

label {
  font-family: 'Montserrat', sans-serif;
}

body .solid_btn {
  color: #fff;
  padding: 8px 10px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.1;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  border: 1px solid var(--blue);
  background-color: var(--blue);
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}

body .solid_btn:hover {
  color: #fff;
  background:var(--dark_blue);
}

.border_btn {
  color: #fff;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.1;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  border: 1px solid #fff;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.border_btn:hover {
  color: #fff;
  background: #4d36be;
  border: 1px solid #4d36be;
}

.solid_btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.solid_btn:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.solid_btn img,
.border_btn img {
  position: relative;
  max-width: 10px;
  top: -2px;
  margin-left: 5px;
}

.btn svg {
  font-size: 17px;
  line-height: 1;
  margin-left: 5px;
}

body input.form-control,
input::placeholder,
textarea::placeholder {
  color: #7e8597 !important;
  font-size: 15px;
  height: 40px;
}

.form-select {
  font-size: 13px;
}

section {
  width: 100%;
  float: left;
  padding: 80px 0;
  position: relative;
}

.mainContainer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
} */

img {
  height: auto;
}

body ul {
  margin: 0;
  padding: 0;
}

.inner_body {
  width: 100%;
  position: relative;
  z-index: 0;
}

.bg_light_grey {
  background: var(--light-blue);
}

/* ========header css starts===== */

/* top bar */

.top_header {
  background: var(--dark_blue);
  width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.topbar ul li {
  display: inline-block;
}

.topbar ul li a {
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
}

.top_social_icons ul li a {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.topbar_right ul li a:last-child {
 padding-right: 0px;
 margin-left: 15px;
}

.topbar_right svg {
  margin-right: 10px;
}

.topbar svg {
  transition: all 0.5s ease-in-out;
}

.topbar svg:hover {
  transform: rotate(360deg);
}


.header {
  z-index: 1;
  position: relative;
}

.logo img {
  max-width: 100px;
}


body .nav_header {
  padding: 5px 0px;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sticky .nav_header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  z-index: 999;
  background: #517dbe;
  padding: 5px 20px;
}


.sticky .nav_header .logo img {
 max-width: 50px;
}

.sticky .nav_header a.nav-link {
  color: #fff !important;
}

.sticky .custom_dropdown .dropdown-menu {
  left: -35px !important;
}

.nav_header a.nav-link {
  color: #050608;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: 15px;
  position: relative;
  font-family: var(--primary-font-family);
  font-weight: 500;
}

.nav_header a.nav-link:hover {
  color: var(--blue);
}

.custom_dropdown .dropdown-toggle.nav-link {
  margin-right: 30px !important;
}

.custom_dropdown .dropdown-menu {
  background: var(--dark_blue);
  margin-top: 12px !important;
  box-shadow: none;
  border-radius: 0px;
  padding: 0;
}


.custom_dropdown .dropdown-item {
  padding: 8px 10px;
  color: #fff;
  border-bottom: 1px solid #517dbe;
}

.navbar-nav .custom_dropdown .nav-link.active,
.navbar-nav .custom_dropdown .nav-link.show {
  color: var(--blue) !important ;
}

.custom_dropdown .dropdown-item:hover {
  background: var(--blue);
  color: #fff;
  border-color: var(--blue);
  transition: all 0.4s ease-in-out;
}

.navbar-collapse {
  flex-grow: inherit !important;
}

.nav_header a:last-child.nav-link {
  margin-right: 0;
}





/* ====banner sec ===== */

.banner_sec {
  position: relative;
  width: 100%;
  z-index: 0;
}

.banner_sec img {
  width: 100%;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size:14px !important;
  color: #fff;
}
.swiper-button-prev, .swiper-button-next{
  background-color: var(--blue);
  border-radius: 5px;
}

/* ====newly added css=== */

.section_title {
  text-align: center;
  width: 100%;
}

.section_title h1 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.section_title h1::after {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
  display: inline-block;
  background: var(--blue);
  bottom: -12px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50px;
}


.newly_card {
  padding: 15px;
  border: 1px solid #f5f5f5;
  margin-bottom: 20px;
  box-shadow: 0 0 20px #eee;
}

.newly_card h4 {
  min-height: 60px;
  font-weight: bold;
  background: #517dbe;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px;
  font-size: 20px;
}

.newly_card p {
  margin: 0;
}

.newly_card a {
  font-weight: 600;
}


/* --- -about us css ==== */


.about_content {
  padding: 15px;
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 20px #eee;
  height: 100%;
  background: #fff;
}

.about_us_slider {
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 20px #eee;
  padding: 15px;
  background: #fff;
}

.selection_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.selection_course {
  border-right: 1px solid #ddd;
}

.selection_course, .selection_count {
  text-align: center;
  width: 50%;
}

.about_sec a {
  font-weight: 600;
}

.selection_count p {
  margin-bottom: 10px;
}

.selection_course img {
  max-width: 100px;
}

.about_us_slider .swiper-pagination {
  position: relative;
  margin-top: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background:var(--blue);
}


/* ===service card==== */

.service_Card {
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 20px #eee;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  min-height: 221px;
  background: #fff;
}

.service_Card h2 {
  font-size: 25px;
  margin: 10px 0;
  color: var(--blue);
}

.service_Card img {
  max-width: 50px;
}

/* ==course section === */

.course_card {
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 20px #eee;
  padding: 30px;
  border-radius: 10px;
  min-height: 390px;
  position: relative;
  background: #fff;
}

.course_card ul li {
  list-style: none;
  margin-bottom: 10px;
  position: relative;
  padding-left: 22px;
  color: #707070;
  font-size: 16px;
}

.course_card ul li svg {
  position: absolute;
  left: 0;
  top: 6px;
  color: #f6821f;
}

.course_card .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
}

/*== why choose us section === */

/* 
.choose_content li {
  background: #517dbe;
  list-style: none;
  padding:15px 10px;
  margin-bottom: 15px;
  border-radius: 15px 0;
  color: #fff;
} */

.choose_sec {
  background: url("/why_choose_banner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.choose_sec::before{
  content: "";
  background: rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  top: 0;
  bottom: 0;
}

.choose_content h5 {
  font-weight: bold;
  font-size: 22px;
  color: #fff;
}

.choose_content {
  position: relative;
}

.choose_content p {
  color: #fff;
  margin-bottom: 0;
}

.choose_content ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.choose_content li {
  background: rgba(0,0,0,0.2);
  list-style: none;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  width: 22%;
  text-align: center;
  box-shadow: 0 0 5px #f5f5f5;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* .choose_content li {
  background: #fff;
  list-style: none;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  width: 22%;
  text-align: center;
  box-shadow: 0 0 20px #f5f5f5;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
} */

.choose_content span {
  background: #517dbe;
  width: 65px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 0px auto;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

.choose_content img {
  max-width: 40px;
  margin: 0 auto;
}

/* ========contact us form======= */

.contact_img {
  width: 100%;
}

.contact_form {
  width: 80%;
  margin: 0 auto;
}


/* ===footer sec === */

.footer_sec {
  background: #517dbe;
  padding-bottom: 50px;
}

.footer_data img {
  max-width: 80px;
  margin-bottom: 20px;
}

.footer_sec h5 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_sec p {
  color: #fff;
}

.footer_links ul li a {
  color: #fff;
}

.footer_links ul li { 
  list-style: none;
  margin-bottom: 15px;
}



.footer_sec {
  background: #517dbe;
}

.footer_data img {
  max-width: 80px;
  margin-bottom: 20px;
}

.footer_sec h5 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.footer_sec h5::after {
  content: "";
  background: #fff;
  display: inline-block;
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.footer_sec p, .footer_sec a {
  color: #fff;
  margin: 0;
}

.footer_links ul li {
  list-style: none;
  margin-bottom: 15px;
}

.contact_details {
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
}

.contact_details svg {
  position: absolute;
  color: #fff;
  left: 0;
  top: 6px;
}

.contact_details h6 {
  color: #fff;
  font-weight: bold;
}


.copyright {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #aaa;
  padding-top: 50px;
  margin-top: 30px;
}

.copyright ul li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}

.copyright a {
  color: #fff;
}

/* sticky social icons css */

.sticky-icon  {
	z-index:1;
	position:fixed;
  bottom: 100px;
	right:0%;
	width:220px;
	display:flex;
	flex-direction:column;
}  

.sticky-icon a {
  transform: translate(160px,0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 2px;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px;
  font-size: 20px;
  font-family: var(--primary-font-family);
  transition: all 0.8s;
}

.sticky-icon a:hover  {
	color:#FFF;
	transform:translate(0px,0px);}	

.sticky-icon a:hover span  {
	transform:rotate(360deg);}
/*.search_icon a:hover i  {
	transform:rotate(360deg);}*/

.Facebook  {
	background-color:#0866FF;
	color:#FFF;
}
	
.Youtube  {
	background-color:#CD201F;
	color:#FFF;
}
	
.Telegram  {
	background-color:#0088cc;
	color:#FFF;
}
	
.Instagram  {
	background-color:#CF3D69;
	color:#FFF;
}
	
.Whatsapp  {
	background-color:#25D366;
	color:#FFF;
}				

.sticky-icon a span {
    background-color: #FFF;
    height: 40px;
    width: 40px;
    color: #000;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.5s;
    display: inline-block;
}

.sticky-icon a.Facebook span {
	background-color:#FFF;
	color:#0866FF;
}
	
.sticky-icon a.Telegram span {
	background-color:#FFF;
	color:#0088cc;
}
	
.sticky-icon a.Instagram span {
	background-color:#FFF;
	color:#CF3D69;
}
	
.sticky-icon a.Youtube span {
	background-color:#FFF;
	color:#fa0910;
}
	
.sticky-icon a.Whatsapp span  {
	background-color:#FFF;
	color:#25D366;
}


/* ====inner pages === */
  
	/* about us page */

.inner_banner::after {
    content: "";
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: inline-block;
    top: 0;
    height: 100%;
    bottom: 0;
}

.inner_banner {
    position: relative;
}

.inner_banner h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 60px;
    color: #fff;
    z-index: 9;
    font-weight: bold;
    letter-spacing: 10px;
}


.inner_content h4 {
  font-size: 25px;
  font-weight: bold;
}

.inner_content ul {
  padding-left: 30px;
  margin-bottom: 30px;
}

.inner_content ul li {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #707070;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 1.5;
}

.inner_tab_row {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.inner_tab_row ul.mb-3.nav.nav-tabs {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 0 !important;
}

.inner_tab_row button {
  border: 0 !important;
  width: 100%;
  text-align: center;
  font-family: var(--primary-font-family);
  color: #000 !important;
  font-size: 15px;
  background: #f5f5f5;
  border-radius: 12px !important;
  padding: 15px 5px;
  font-weight: 500;
}

.inner_tab_row button.active {
  background-color: var(--blue) !important;
  color: #fff !important;
}



.inner_tab_row li.nav-item {
  margin-bottom: 15px;
}

.inner_tab_row .tab-content {
  width: 68%;
  padding: 20px;
  box-shadow: 0 0 9px #f3f3f3;
}